<div>
<app-layout></app-layout>
<router-outlet></router-outlet>
<!--
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDft7W5J8T2iBEbnrPGr1UIyKyYFf0oD6w",
    authDomain: "social-ifpb-546d7.firebaseapp.com",
    projectId: "social-ifpb-546d7",
    storageBucket: "social-ifpb-546d7.appspot.com",
    messagingSenderId: "151375895874",
    appId: "1:151375895874:web:dbb9dfb8755559c544bcdb",
    measurementId: "G-CKM45LMMKT"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
-->
</div>
